<aside class="w-80 bg-color-gray-light px-10 py-8 gap-2 flex flex-col">
    <a link="/" id="buttonSidebar" href="/<%= getSearchParams() %>"
        class="border border-color-gray-light-2 flex items-center rounded-lg px-4 h-12 hover:bg-color-light-gray bg-white [&_*]:stroke-color-bg [&_*]:text-color-bg gap-2">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M19.4173 15.7133C23.368 10.7038 22.3007 5.73508 19.4626 3.99415C16.7809 2.34923 14.4404 3.01211 13.0344 4.06801L11.9998 4.84158M19.4173 15.7133C18.469 16.9156 17.2317 18.1204 15.6605 19.2834C14.1143 20.4278 13.3412 21 12 21C10.6588 21 9.88572 20.4278 8.33953 19.2834C0.221719 13.2749 1.01807 6.15293 4.53744 3.99415C7.21909 2.34923 9.55962 3.01211 10.9656 4.06801L11.9998 4.84158M19.4173 15.7133L13.8921 9.44479C13.6659 9.1882 13.2873 9.13296 12.9972 9.31424L10.8111 10.6806C10.0418 11.1614 9.04334 11.0532 8.3949 10.4187C7.53837 9.58062 7.62479 8.17769 8.5777 7.45106L11.9998 4.84158"
                stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <p class="text-white text-sm font-medium">Serviços</p>
    </a>

    <a link="/favorites" id="buttonSidebar" href="/favorites<%= getSearchParams() %>"
        class="border border-color-gray-light-2 flex items-center rounded-lg px-4 h-12 hover:bg-color-light-gray bg-white [&_*]:stroke-color-bg [&_*]:text-color-bg gap-2">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M10.4107 19.9677C7.58942 17.858 2 13.0348 2 8.69444C2 5.82563 4.10526 3.5 7 3.5C8.5 3.5 10 4 12 6C14 4 15.5 3.5 17 3.5C19.8947 3.5 22 5.82563 22 8.69444C22 13.0348 16.4106 17.858 13.5893 19.9677C12.6399 20.6776 11.3601 20.6776 10.4107 19.9677Z"
                stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

        <p class="text-white text-sm font-semibold">Favoritos</p>
    </a>

    <% if (!user) { %>
        <!-- User not logged in -->
        <div class="mt-4 flex flex-col gap-2">
            <a href="/login?r=<%= user ? user.roleId : 0 %>"
                class="hover:bg-color-bg cursor-pointer border border-color-gray-light-2 flex justify-center items-center rounded-lg px-4 h-12 hover:bg-color-light-gray bg-color-primary [&_*]:text-white">
                <p class="text-white text-sm font-semibold">Login</p>
            </a>

            <a href="/signup"
                class="border border-color-gray-light-2 flex justify-center items-center rounded-lg px-4 h-12 hover:bg-color-light-gray bg-white [&_*]:stroke-color-bg [&_*]:text-color-bg">
                <p class="text-white text-sm font-semibold">Registrar</p>
            </a>

            <div class="mt-6 border-t border-color-gray-light-2 pt-4 border rounded-lg p-4 bg-white">
                <p class="text-color-bg text-lg mb-3 font-medium">Quer ser um <span
                        class="text-color-primary font-bold">provedor</span> de
                    serviço?</p>
                <a href="/signup?&r=1"
                    class="hover:bg-color-bg cursor-pointer border border-color-gray-light-2 flex justify-center items-center rounded-lg px-4 h-12 hover:bg-color-light-gray bg-color-primary [&_*]:text-white">
                    <p class="text-white text-sm font-semibold">Começar</p>
                </a>
            </div>
        </div>
        <% } else if (user.roleId==0) { %>
            <!-- Regular client user -->
            <div class="mt-4">
                <div class="flex flex-row gap-2 border border-color-gray-light-2 rounded-lg p-3 bg-white">
                    <svg class="mt-0.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                        color="#000000" fill="none">
                        <path
                            d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                            stroke="currentColor" stroke-width="1.5" />
                        <path
                            d="M14.75 9.5C14.75 11.0188 13.5188 12.25 12 12.25C10.4812 12.25 9.25 11.0188 9.25 9.5C9.25 7.98122 10.4812 6.75 12 6.75C13.5188 6.75 14.75 7.98122 14.75 9.5Z"
                            stroke="currentColor" stroke-width="1.5" />
                        <path
                            d="M5.49994 19.0001L6.06034 18.0194C6.95055 16.4616 8.60727 15.5001 10.4016 15.5001H13.5983C15.3926 15.5001 17.0493 16.4616 17.9395 18.0194L18.4999 19.0001"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="flex flex-col">
                        <p class="text-color-bg text-lg font-semibold">
                            <%= user.username %>
                        </p>
                        <p class="text-color-primary text-sm  font-medium">Cliente</p>
                    </div>
                </div>

                <a href="/"
                    class="mt-4 border border-color-gray-light-2 flex justify-center items-center rounded-lg px-4 h-12 hover:bg-color-light-gray bg-white [&_*]:stroke-color-bg">
                    <p class="text-red-700 text-sm font-semibold">Sair</p>
                </a>
            </div>
            <% } else if (user.roleId==1) { %>
                <!-- Service provider user -->
                <div class="mt-4">
                    <div
                        class="flex flex-row gap-2 border border-color-gray-light-2 rounded-lg p-3 bg-color-primary text-white">
                        <svg class="mt-0.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                            height="24" color="#ffffff" fill="none">
                            <path
                                d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                                stroke="currentColor" stroke-width="1.5" />
                            <path
                                d="M14.75 9.5C14.75 11.0188 13.5188 12.25 12 12.25C10.4812 12.25 9.25 11.0188 9.25 9.5C9.25 7.98122 10.4812 6.75 12 6.75C13.5188 6.75 14.75 7.98122 14.75 9.5Z"
                                stroke="currentColor" stroke-width="1.5" />
                            <path
                                d="M5.49994 19.0001L6.06034 18.0194C6.95055 16.4616 8.60727 15.5001 10.4016 15.5001H13.5983C15.3926 15.5001 17.0493 16.4616 17.9395 18.0194L18.4999 19.0001"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        <div class="flex flex-col">
                            <p class="text-white text-lg font-semibold">
                                <%= user.username %>
                            </p>
                            <p class="text-white text-sm font-medium">
                                <%= user.service.name %>
                            </p>
                            <p class="text-white text-xs font-semibold">
                                <%= user.service.category.name %>
                            </p>
                        </div>
                    </div>

                    <a href="/"
                        class="mt-4 border border-color-gray-light-2 flex justify-center items-center rounded-lg px-4 h-12 hover:bg-color-light-gray bg-white [&_*]:stroke-color-bg">
                        <p class="text-red-700 text-sm font-semibold">Sair</p>
                    </a>
                </div>
                <% } %>
</aside>

<script>
    function getSearchParams() {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.toString() ? '?' + urlParams.toString() : '';
    }
</script>