<!-- HEADER -->
<%- include("./partials/header.ejs") -%>
  <div class="w-full flex flex-col md:flex-row flex-wrap md:flex-nowrap  pt-20">
    <!-- SIDEBAR -->
    <%- include("./partials/sidebar.ejs") -%>
      <div class="flex flex-col flex-wrap px-10 py-8 gap-6">
        <!-- CATEGORIES -->
        <% if (!(currentPath.includes("/favorites"))) { %>
          <ul class="flex flex-row items-center flex-wrap gap-12 overflow-x-auto">
            <% categories.forEach(function(category) {%>
              <a href="<%= category.name.toLowerCase() === 'todos' ? '/' + getSearchParams() : '/category/' + category.name.toLowerCase() + getSearchParams() %>"
                class="flex flex-col items-center gap-1 w-fit h-fit justify-center cursor-pointer">
                <div id="iconCategory" name="<%=category.name.toLowerCase()%>"
                  class="flex items-center justify-center w-16 h-16 rounded-full border border-color-gray-light-2 bg-white">
                  <%- category.icon %>
                </div>

                <p class="text-xs font-medium text-color-text">
                  <%= category.name %>
                </p>
              </a>
              <% }); %>
          </ul>
          <% } %>
            <!-- SERVICES -->
            <div class="flex flex-wrap flex-col gap-5">
              <% if (services.length> 0) { %>
                <h1 class="font-bold text-3xl text-color-bg">
                  <%= currentPath.includes("/search") ? 'Resultados da pesquisa' : isServicesFavorites===true
                    ? 'Serviços favoritos' : 'Serviços na sua região' %>
                </h1>
                <% } %>
                  <div class="flex align-center flex-col md:flex-row flex-wrap gap-4">
                    <% services.forEach(function(service) {%>
                      <%- include("./partials/service.ejs", { service: service }) -%>
                        <% }); %>
                  </div>
                  <% if (popularServices.length> 0) { %>
                    <h1 class="font-bold text-3xl text-color-bg">Serviços populares</h1>
                    <% } %>

                      <div class="flex align-center flex-col md:flex-row flex-wrap gap-4">
                        <% popularServices.forEach(function(service) {%>
                          <%- include("./partials/service.ejs", { service: service }) -%>
                            <% }); %>
                      </div>
            </div>
      </div>
  </div>

  <script>
    function getSearchParams() {
      const urlParams = new URLSearchParams(window.location.search);
      return urlParams.toString() ? '?' + urlParams.toString() : '';
    }

    document.querySelectorAll("#buttonSidebar").forEach(function (buttonSidebar) {
      if (buttonSidebar.getAttribute("link") === window.location.pathname || (window.location.pathname.includes("/category/") && buttonSidebar.getAttribute("link") === "/")) {
        buttonSidebar.classList.remove("bg-white");
        buttonSidebar.classList.remove("border-color-gray-light-2");
        buttonSidebar.classList.remove("[&_*]:stroke-color-bg");
        buttonSidebar.classList.remove("[&_*]:text-color-bg");

        buttonSidebar.classList.add("bg-color-bg");
        buttonSidebar.classList.add("border-bg-color-bg");
        buttonSidebar.classList.add("[&_*]:stroke-white");
        buttonSidebar.classList.add("[&_*]:text-white");
      } else {
        buttonSidebar.classList.add("bg-white");
        buttonSidebar.classList.add("border-color-gray-light-2");
        buttonSidebar.classList.add("[&_*]:stroke-color-bg");
        buttonSidebar.classList.add("[&_*]:text-color-bg");

        buttonSidebar.classList.remove("bg-color-bg");
        buttonSidebar.classList.remove("border-bg-color-bg");
        buttonSidebar.classList.remove("[&_*]:stroke-white");
        buttonSidebar.classList.remove("[&_*]:text-white");
      }
    });

    document.querySelectorAll("#iconCategory").forEach(function (icon) {
      if (window.location.pathname.includes("/category/")) {
        if (icon.getAttribute("name") === window.location.pathname.replace("/category/", "")) {
          icon.classList.add("bg-color-primary");
          icon.classList.add("border-color-primary");
          icon.classList.add("[&_*]:stroke-white");
        }
      } else {
        if (icon.getAttribute("name") === "todos") {
          icon.classList.add("bg-color-primary");
          icon.classList.add("border-color-primary");
          icon.classList.add("[&_*]:stroke-white");
        }
      }
    });
  </script>

  </body>

  </html>